<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Visibility Demo</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container my-4">
    <h1>Visibility Graph Demo</h1>
    <a href="{{ url_for('visibility.index') }}" class="btn btn-primary">Zur Visibility-Demo</a>
  </div>
  <div class="container my-4">
    <h1>Line Sweep Demo</h1>
    <a href="{{ url_for('line_sweep.index') }}" class="btn btn-primary">Zur Visibility-Demo</a>
  </div>
  <div class="container my-4">
    <h1>Quad Tree Demo</h1>
    <a href="{{ url_for('quadtree.index') }}" class="btn btn-primary">Zur QuadTree-Demo</a>
  </div>
</body>
</html>
